.container {
    display: flex;
    position: relative;
    margin: 0 0.125rem 1.3125rem 0.5rem; // To fix the issue with the input tooltip being cut off on the right side.
}

.disabled-tooltip {
    cursor: not-allowed;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 999999;
}
.disabled-btn {
    opacity: 0.65;
}
